<%= form_with(model: product) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> No se puede guardar el producto</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :"Nombre" %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :"Cantidad" %>
    <%= form.text_field :quantity %>
  </div>

  <div class="field">
    <%= form.label :"Descripcion" %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :"Precio" %>
    <%= form.text_field :price %>
  </div>

  <div class="actions">
    <button class="btn btn-success" type="submit">Aceptar</button>
  </div>
<% end %>
