
<% provide(:title, 'Productos') %>
<h1>Todos los productos</h1>

<div class="row">
    <div class="col-12 col-md-10">
      <%= form_with(url: '/products', method: 'get', local: true) do %>

      <%= select_tag "products_finder", options_from_collection_for_select(@products, "id", proc{|product| product.name + " - " + product.description}), class: 'form-control content-search dropdown-item', size: 20, include_blank: true %>
    </div>
    <div class="col-12 col-md-2">
      <%= submit_tag("Buscar", class: "btn btn-primary") %>
    </div>
</div>

<% end %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Cantidad</th>
      <th>Descripcion</th>
      <th>Precio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><%= product.name %></td>
        <td><%= product.quantity %></td>
        <td><%= product.description %></td>
        <td><%= product.price %></td>
        <td><%= link_to 'Ver', product, class: "btn btn-primary" %></td>
        <td><%= link_to 'Editar', edit_product_path(product), class: "btn btn-primary" %></td>
        <td><%= link_to 'Eliminar', product, method: :delete, data: { confirm: 'Esta seguro que quiere eliminar el articulo?' }, class: "btn btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo producto', new_product_path, class:"btn btn-success" %>
